.primary-header {
  font-size: 6rem;
  color: #f2f2f2;
}
@media (max-width: 800px) {
  .primary-header {
    font-size: 3rem;
  }
}

.secondary-header {
  font-size: 4rem;
}
@media (max-width: 600px) {
  .secondary-header {
    font-size: 3rem;
  }
}

.tertiary-header {
  font-size: 2.8rem;
}
@media (max-width: 600px) {
  .tertiary-header {
    font-size: 2.2rem;
  }
}

.primary-header, .secondary-header, .tertiary-header {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}

.flex-1 {
  flex: 1 !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-14 {
  padding-bottom: 14rem !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media (max-width: 940px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.footer {
  width: 100%;
  padding: 4rem 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: #cccccc;
  background-color: #0e1111;
}

.intro {
  position: relative;
  height: 100vh;
}
.intro__background {
  height: 100%;
}
.intro__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  user-select: none;
  width: 90%;
}
.intro__body {
  font-size: 2rem;
  color: #f2f2f2;
}
@media (max-width: 800px) {
  .intro__body {
    font-size: 1.6rem;
  }
}

.polaroid {
  padding: 1.8rem 1.8rem 10rem;
  width: 30rem;
  box-shadow: 0.4rem 0.4rem 1.2rem rgba(0, 0, 0, 0.35);
  transform: rotate(-3deg) scale(1);
  transition: 0.4s ease;
}
.polaroid:hover {
  transform: rotate(0deg) scale(1.1);
  box-shadow: 0.2rem 0.2rem 1.2em rgba(0, 0, 0, 0.3);
}

.project-card {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 8rem;
  color: #f2f2f2;
  background-color: transparent;
  border: 0.2rem solid #f2f2f2;
  cursor: pointer;
}
@media (max-width: 600px) {
  .project-card {
    font-size: 1.6rem;
    height: 6rem;
  }
}
.project-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  background-color: #f2f2f2;
  transition: 0.2s cubic-bezier(0.58, 0.18, 0.6, 0.83);
  z-index: -1;
}
.project-card:hover {
  color: #0e1111;
}
.project-card:hover::after {
  height: 100%;
}

.project-modal {
  opacity: 0;
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 17, 17, 0.6);
}
.project-modal--show {
  opacity: 1;
  display: block;
  animation: fade-in 0.5s;
}
.project-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e1111;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 0.4rem;
  width: 80rem;
}
@media (max-width: 800px) {
  .project-modal__content {
    width: 95%;
  }
}
.project-modal__header {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.project-modal__title {
  margin-bottom: 1rem;
}
.project-modal__year {
  font-size: 1.8rem;
  color: #3B444B;
}
@media (max-width: 600px) {
  .project-modal__year {
    display: block;
  }
}
.project-modal__languages {
  width: 100%;
}
.project-modal__languages span {
  background-color: #3B444B;
  color: #f2f2f2;
  font-size: 1.4rem;
  margin-right: 1rem;
  padding: 0.2rem 1.2rem;
  border-radius: 3rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.project-modal__body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  max-height: 20rem;
  overflow: auto;
}
.project-modal__buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.project-modal__button {
  font-size: 1.8rem;
  background-color: #0e1111;
  color: #f2f2f2;
  border: none;
  text-decoration: none;
  border-radius: 0.4rem;
  padding: 1.2rem 2.4rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.project-modal__button:hover {
  background-color: #3B444B;
}
.project-modal__close {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  background-color: transparent;
  border: none;
  color: #777777;
  font-size: 4rem;
  cursor: pointer;
  font-weight: 200;
}
@media (max-width: 600px) {
  .project-modal__close {
    font-size: 3rem;
    top: -0.1rem;
    right: 0.8rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  padding: 6rem 2rem;
}
.section--hex {
  background: linear-gradient(120deg, #0e1111 0%, #0e1111 50%, rgba(0, 0, 0, 0) 100%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f2f2f2' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.section--angled {
  background-color: #f2f2f2;
  color: #0e1111;
  transform: skewY(3deg);
  padding: 8rem 2rem;
  margin-top: -4rem;
}
.section__content {
  width: 104rem;
}
.section__content--angled {
  transform: skewY(-3deg);
}
.section__header {
  margin-bottom: 4rem;
}
.section__columns {
  display: flex;
  align-items: center;
  gap: 9rem;
  font-size: 1.6rem;
}
@media (max-width: 800px) {
  .section__columns {
    flex-direction: column;
  }
}

#work-experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-item__year {
  font-size: 1.6rem;
  color: #3B444B;
  padding-left: 1.2rem;
  font-family: "Roboto", serif;
}
@media (max-width: 600px) {
  .work-item__year {
    display: block;
    padding-left: 0;
    margin-bottom: 1rem;
  }
}
.work-item__title {
  font-size: 2.4rem;
}
@media (max-width: 600px) {
  .work-item__title {
    font-size: 2rem;
  }
}
.work-item__body {
  flex: 1;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0e1111;
  font-family: "Roboto", serif;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/abstracts/_typography.scss%22,%22../scss/abstracts/_colors.scss%22,%22../scss/base/_utilities.scss%22,%22../scss/components/_footer.scss%22,%22../scss/components/_intro.scss%22,%22../scss/components/_polaroid.scss%22,%22../scss/components/_project-card.scss%22,%22../scss/components/_project-modal.scss%22,%22../scss/components/_section.scss%22,%22../scss/components/_work-experience.scss%22,%22../scss/main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;EACA,OCDU;;ADGV;EAJJ;IAKQ;;;;AAIR;EACI;;AAEA;EAHJ;IAIQ;;;;AAIR;EACI;;AAEA;EAHJ;IAIQ;;;;AAIR;EACI;EACA;EACA;;;AE5BJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EAVJ;IAWQ;;;;ACvBR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBFToB;;;AGAxB;EACI;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA,OHtBM;;AGwBN;EAJJ;IAKQ;;;;AC1BZ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;;ACTR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA,OLPU;EKQV;EACA;EACA;;AAEA;EAbJ;IAcQ;IACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA,kBLvBM;EKwBN;EACA;;AAGJ;EACI,OL9BgB;;AKgChB;EACI;;;ACjCZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA,ONtBgB;EMuBhB,kBNtBM;EMuBN;EACA;EACA;;AAEA;EAXJ;IAYQ;;;AAIR;EACI;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EACA;;AAEA;EAJJ;IAKQ;;;AAIR;EACI;;AAEA;EACI;EACA,ONxDE;EMyDF;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;EACA,kBNnFgB;EMoFhB,ONnFM;EMoFN;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAXJ;IAYQ;IACA;IACA;;;;AAKZ;EACI;IACI;;EAEJ;IACI;;;ACzHR;EACI;EACA;EACA,OPFU;EOGV;;AAEA;EACI;;AAGJ;EACI,kBPVM;EOWN,OPZgB;EOahB;EACA;EACA;;AAGJ;EACI;;AAEA;EACI;;AAIR;EACI;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;;ACrCZ;EACI;EACA;EACA;;;AAKA;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;IACA;IACA;;;AAIR;EACI;;AAEA;EAHJ;IAIQ;;;AAIR;EACI;EACA;;;ACpBR;AAAA;AAAA;EAGE;EACA;EACA;;;AAGF;EACI;;;AAGJ;EACI;EACA;EACA,kBT1BoB;ES2BpB%22,%22file%22:%22main.css%22%7D */
