html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.gradient {
    background: rgb(0,255,166);
    background: linear-gradient(319deg, rgba(0,255,166,1) 0%, rgba(0,95,255,1) 100%);
}

.page-header {
    padding-top: 10rem;
    color: #ffffff;
    box-sizing: border-box;
}

.page-header p {
    font-size: 1.2rem;
}

.section-header {
    font-size: 4rem;
    padding-top: 50px;
}

.card-title {
    width: 100%;
}

.card-subtitle {
    font-size: 1rem;
}

.card-text {
    text-indent: 2rem;
    text-align: justify;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.profile-description {
    text-align: justify;
    text-indent: 2rem;
}

.social-icon {
    font-size: 30px !important;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
    transition: 0.3s ease;
}

.social-icon:hover {
    color: #ffffff;
    opacity: 0.75;
}

.fa-linkedin {
    background-color: #007bb5;
}

.fa-instagram {
    background-color: #125688;
}

footer {
    background-color: #222222;
    color: #ffffff;
    border-top: 30px solid #222222;
    border-bottom: 30px solid #222222;
    box-sizing: border-box;
    margin-top: 50px;
    text-align: center;
    display: block;
}

.language-bubble {
    background-color: #efefef;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 10pt;
}

.language-bubble:not(:first-child) {
    margin-left: 10px;
}

.list-group-item {
    transition: 0.2s ease;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f7f7f7;
}

#modalLanguages {
    box-sizing: border-box;
    padding: 4px 12px;
    padding-bottom: 24px;
}

@media only screen and (max-width: 600px) {
    .header-section {
        padding-bottom: 4rem;
    }
    .section-header {
        font-size: 3rem;
    }
  }