html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffcc;
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: 'Shadows Into Light', cursive;
}

.navbar {
	width: 100%;
	height: 100%;
	position: relative;
}

.navbar .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.navbar h2 {
	color: #0059b3;
	margin: 0;
	text-align: center;
	display: block;
	font-size: 80px;
	padding-bottom: 10px;
	font-family: 'Shadows Into Light', cursive;
}

.navbar .navlinks {
	text-align: center;
	z-index: 5;
	padding-top: 10px;
}

.navbar .navlinks a {
	margin: 0px 20px;
	color: #0059b3;
	text-decoration: none;
	text-align: center;
	font-size: 26px;
	transition: 0.05s ease;
	padding-bottom: 5px;
}

.navbar .navlinks a:hover {
	border-bottom: 3px solid #0059b3;
}

#newlinks {
	width: 100%;
	color: #0059b3;
	background-color: #ffffcc;
	z-index: 20;
	position: fixed;
	top: 0;
	text-align: center;
	padding-top: 10px;
	display: none;
}

#newlinks a {
	margin: 0px 20px;
	color: #0059b3;
	text-decoration: none;
	text-align: center;
	font-size: 26px;
	transition: 0.05s ease;
}

#newlinks a:hover {
	border-bottom: 2px solid #0059b3;
}

.content {
	width: 100%;
	position: relative;
}

#myExperience {
	padding-bottom: 50px;
}

.content h2 {
	color: #0059b3;
	text-align: center;
	font-size: 50px;
	padding-top: 100px;
	margin: 50px 0;
}

.content #itME {
	display: block;
	margin: 0 auto;
	width: 300px;
	margin-bottom: 50px;
	border-radius: 25px;
}

.content p {
	width: 768px;
	margin: auto auto;
	text-indent: 3em;
	text-align: justify;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.6;
	font-size: 20px;
	padding-bottom: 50px;
}

.content ul {
	font-family: 'Work Sans', sans-serif;
	width: 768px;
	margin: auto auto;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	display: block;
	padding-bottom: 50px;
}

.content ul li {
	font-weight: normal;
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}

.footer {
	width: 100%;
	padding: 50px 0;
	background-color: #0059b3;
	color: #ffffcc;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	line-height: 1.6;
}

@media screen and (max-width: 768px) {
	.content h2 {
		width: 100%;
	}
	.navbar h2 {
		width: 100%;
		font-size: 80px;
	}
	.navbar .navlinks a {
		width: 100%;
		display: block;
	}
	.navbar .container {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
	}
	#newlinks a {
		width: 100%;
		display: block;
	}
	.content p {
		width: auto;
		padding-right: 50px;
		padding-left: 50px;
		box-sizing: border-box;
		font-size: 16px;
	}
	.content ul {
		text-align: left;
		padding-left: 20px;
		font-size: 20px;
		width: auto;
	}
	.content ul li {
		margin-left: 20px;
	}
}
