html, body {
	background-color: #111;
	width: 100%;
	margin: 0;
}

.topNav {
	width: 100%;
	background-color: rgba(17,17,17,0.9);
	position: fixed;
	z-index: 5;
}

.topNav .left {
	padding: 20px 20px;
	font-size: 20px;
	color: #f2f2f2;
	text-decoration: none;
	display: inline-block;
	font-family: sans-serif;
	transition: 0.2s;
}

.topNav .left:hover {
	background-color: rgba(30,30,30,0.9);
}


.titleContainer {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: block;
	background-size: cover;
	background-attachment: fixed;
}

#img1 {
	background-image: url('bgimg1.jpeg');
}
#img2 {
	background-image: url('bgimg2.jpg');
}
#img3 {
	background-image: url('bgimg3.png');
}

.innerContainer {
	position: absolute;
	top: 100px;
	left: 15vw;
	right: 15vw;
	bottom: 100px;
	background-color: rgba(17,17,17,0.9);
}

.textContainer {
	position: absolute;
	top: 50%;
	width: 100%;
    transform: translate(0%, -50%);
}

.textContainer h6 {
	color: #f2f2f2;
	font-family: sans-serif;
	text-align: center;
	font-size: 60px;
	margin: 0;
	margin-bottom: 50px;
}

.textContainer p {
	color: #f2f2f2;
	margin: 0px auto;
	width: 50%;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	line-height: 40px;
}

.bodyContainer {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: block;
}

.ratesBox {
	position: relative;
	width: 300px;
	background-color: #333;
	margin: 0px 10px;
	border-radius: 25px;
	display: inline-block;
	margin-bottom: 20px;
}

.ratesBox h6 {
	color: #f2f2f2;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 25px 0;
	border-radius: 25px 25px 0 0;
	font-family: sans-serif;
	background-color: #222;
}

.ratesBox p {
	margin: 10px 5px;
}

.price {
	font-size: 30px;
	color: green;
	text-align: center;
}

.wasPrice {
	font-size: 16px;
	color: #bbbbbb;
	text-align: center;
	text-decoration: line-through;
}

@media screen and (max-width: 780px) {
	.innerContainer {
		position: relative;
		min-width: 100%;
		min-height: 100vh;
		right: auto;
		left: auto;
		top: auto;
		bottom: auto;
		background-color: rgba(17,17,17,0.6);
	}
	#lastBox {
		height: 300vh;
	}
	.ratesBox {
		display: block;
	}
	.textContainer h6 {
		font-size: 30px;
	}
	.textContainer p {
		font-size: 16px;
	}
}




