@font-face {
    font-family: win95;
    src: url(../fonts/win95.ttf);
}

html, body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #008282;
    position: relative;
    font-family: win95;
}

#desktop {
    height: 100%;
    width: 100%;
}

.desktop-icon {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.desktop-icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.desktop-icon-image {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto 10px;
}

.desktop-icon-title {
    text-align: center;
    color: #ffffff;
}

#taskbar-buttons {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.taskbar-button {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #828282;
    border-bottom: 1px solid #828282;
    box-shadow: 1px 1px 0px #000000;
    background-color: #c3c3c3;
    height: 30px;
    min-width: 50px;
    max-width: 200px;
    flex-grow: 2;
    float: left;
    text-align: left;
    padding-left: 4px;
    line-height: 30px;
    vertical-align: middle;
    margin: 2px;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskbar-button.active {
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: -1px -1px 0px  #000000, 0px 0px 0px 1px #ffffff;
    background-color: #e0e0e0;
}

#start-button {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #828282;
    border-bottom: 1px solid #828282;
    box-shadow: 1px 1px 0px #000000;
    background-color: #c3c3c3;
    height: 30px;
    float: left;
    text-align: left;
    padding: 0 2px;
    line-height: 30px;
    vertical-align: middle;
    margin: 2px;
    box-sizing: border-box;
    user-select: none;
    font-weight: bold;
}

#start-text {
    display: inline-block;
    padding: 0 4px;
    transform: translateY(-10px);
}

#start-button:active {
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: -1px -1px 0px  #000000, 0px 0px 0px 1px #ffffff;
    background-color: #e0e0e0;
}

#start-button.active {
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: -1px -1px 0px  #000000, 0px 0px 0px 1px #ffffff;
    background-color: #e0e0e0;
}

#quindows-logo {
    display: inline-block;
    height: 22px;
    margin: 4px;
}

/* #desktop footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c3c3c3;
    border-top: 1px solid #ffffff;
    font-size: 12pt;
    display: table;
    z-index: 99999990;
} */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c3c3c3;
    border-top: 1px solid #ffffff;
    font-size: 12pt;
    display: table;
    z-index: 99999990;
    padding: 0;
    table-layout: fixed;
}

#footer tr, #footer td {
    padding: 0;
}

#clock {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    float: right;
    height: 30px;
    width: 90px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin: 2px;
}

.window {
    border-top: 3px solid #c3c3c3;
    border-left: 3px solid #c3c3c3;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    box-shadow: 1px 1px 0px 1px #000000;
    resize: both;
    overflow: hidden;
    min-height: 80px;
    min-width: 220px;
    background-color: #c3c3c3;
    position: absolute;
    box-sizing: border-box;
}

.window-header {
    background-color: #000082;
    color: #ffffff;
    width: 100%;
    height: 30px;
    padding: 0 4px;
    box-sizing: border-box;
    line-height: 30px;
    vertical-align: middle;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.window-header-text {
    text-overflow: ellipsis;
    display: inline;
}

.window-header-button {
    width: 18px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    background-color: #c3c3c3;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #828282;
    border-bottom: 1px solid #828282;
    box-shadow: 1px 1px 0px 1px #000000;
    float: right;
    color: #000000;
    text-align: center;
    margin-top: 4px;
    margin-left: 4px;
}

/*.window-header-button:active {
    border-top: 1px solid #828282;
    border-left: 1px solid #828282;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: -1px -1px 0px  #000000, 0px 0px 0px 1px #ffffff;
    background-color: green;
}*/

.window-content {
    width: 100%;
    height: calc(100% - 30px);
}

object {
    pointer-events: none;
}

#start-menu {
    position: fixed;
    left: 0;
    bottom: 36px;
    z-index: 99999991;
    min-height: 160px;
    height: 1px;
    background-color: #c0c0c0;
    border-top: 3px solid #c3c3c3;
    border-left: 3px solid #c3c3c3;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    box-shadow: 1px 1px 0px 1px #000000;
    /* overflow: hidden; */
    font-size: 0;
    display: none;
    user-select: none;
}

#start-menu-stripe {
    height: 100%;
    width: 30px;
    display: inline-block;
    background-color: #808080;
    vertical-align: top;
}

#stripe-text {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    bottom: -14px;
    left: 4px;
    color: #ffffff;
    font-size: 16pt;
    letter-spacing: 2px;
}

#start-menu-content {
    width: 220px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.start-menu-button {
    width: 100%;
    height: 50px;
    color: #000000;
    display: table;
    cursor: pointer;
    font-size: 0;
    vertical-align: top;
    position: relative;
}

.start-menu-button:hover {
    color: #ffffff;
    background-color: #000080;
}

.start-menu-button-text {
    font-size: 12pt;
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    text-align: left;
}

.start-menu-button-image {
    height: 40px;
    margin: 5px 10px;
    display: inline-block;
}

.expand-menu {
    width: 220px;
    background-color: #c0c0c0;
    border-top: 3px solid #c3c3c3;
    border-left: 3px solid #c3c3c3;
    border-right: 2px solid #828282;
    border-bottom: 2px solid #828282;
    box-shadow: 1px 1px 0px 1px #000000;
    overflow: hidden;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

.start-menu-button:hover .expand-menu {
    display: block;
}

.expand-menu-item {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    font-size: 12pt;
    color: #000000;
}

.expand-menu-item:hover {
    background-color: #000080;
    color: #ffffff;
}

.expand-menu-item-image {
    display: inline-block;
    height: 24px;
    width: auto;
    margin-bottom: -6px;
}

.expand-menu-item-text {
    display: inline-block;
    margin-left: 4px;
}

.right-caret {
    display: inline-block;
    float: right;
    font-size: 10pt;
    line-height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}