html, body {
    margin: 0;
    width: 100%;
    background-image: url("../images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

.header {
    margin: 50px 0;
    color: #ffffff;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-size: 36pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.header p {
    text-align: center;
    margin: 0;
    font-size: 18pt;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#search-bar {
    display: block;
    width: 380px;
    font-size: 20pt;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.6;
    transition: 0.3s ease;
    margin-bottom: 30px;
}

#search-bar:focus {
    opacity: 1;
}

#preferences {
    width: 400px;
    display: block;
    margin: 0 auto;
}

#preferences h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}

#theme-selections {
    font-size: 0;
}

.themes {
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 14px;
}

#left, #right {
    width: 50%;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    font-weight: normal;
    font-size: 14pt;
    display: inline-block;
}

#search-button {
    display: block;
    padding: 10px 0;
    width: 400px;
    margin: 30px auto;
    font-size: 20pt;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.6;
    transition: 0.3s ease;
}

#search-button:hover {
    opacity: 1;
    cursor: pointer;
}

#postal-code-error {
    text-align: center;
    color: #cccccc;
    margin: 0;
    font-style: italic;
    display: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

#modal {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.94);
    display: none;
}

#go-back-button {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: 20pt;
    outline: none;
    border: none;
    background-color: #006600;
    color: #ffffff;
    cursor: pointer;
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-size: 36pt;
    text-align: center;
}
