<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @font-face {
            font-family: win95;
            src: url(../fonts/win95.ttf);
        }

        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0 10px;
            box-sizing: border-box;
            font-family: win95;
            overflow: hidden;
            user-select: none;
        }

        .selfie {
            display: block;
            margin: 0 auto;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>About Me</h1>
    <img src="../images/me.png" class="selfie">
    <p>I am a Computer Science graduate from York College of Pennsylvania.  Some of my personal intersts and hobbies are the following:</p>
    <ul>
        <li>English Premier League soccer</li>
        <li>Listening to music</li>
        <li>Astronomy</li>
        <li>Cooking</li>
    </ul>
    <p>I'm a person who gains interest in things very quickly, so most of my hobbies end up changing a lot.  My most recent hobbies are playing bass and golf.</p>
</body>
</html>